<nav class='account-menu'>
  <a href='/dashboard'>Dashboard</a>
  <a class='active'>Buy</a>
  <a href='/sell'>Sell</a>
  <a href='/settings'>Settings</a>
</nav>

<div class='buy'>
  <h4>Currency</h4>
  <hr />

  <div class='buy-currency'>
    <button class='active'>
      Bitcoin
      <p class='tag'>@$<%= @current_btc_price %></p>
    </button>
    <a href='/buy/eth'><button>
      Ether
      <p class='tag'>@$<%= @current_eth_price %></p>
    </button></a>
  </div>

  <h4>Amount</h4>
  <hr />


</div>


<div>
  <form action='/user/buy' method='post'>
  </form>
</div>