<nav class='account-menu'>
  <a href='/dashboard'>Dashboard</a>
  <a class='active'>Buy</a>
  <a href='/sell'>Sell</a>
  <a href='/settings'>Settings</a>
</nav>

<div class='buy'>
  <h4>Currency</h4>
  <hr />

  <div class='buy-currency'>
    <button class='active'>
      Bitcoin
      <p class='tag'>@$<%= @current_btc_price %></p>
    </button>
    <a href='/buy/eth'><button>
      Ether
      <p class='tag'>@$<%= @current_eth_price %></p>
    </button></a>
  </div>

  <h4>Amount</h4>
  <hr />

  <div>
    <form action='/user/buy' method='post'>
      <input type='text' id='usd-input' name='usd-amt' placeholder='0.00'>USD
      <input type='text' id='btc-input' name='btc-amt' placeholder='0.00'>BTC
    </form>
  </div>

  <script type='text/javascript'>
    $(document).ready(function(){
      var currentBtcPrice = '<%= @current_btc_price %>';

      $('#usd-input').on('keyup', function() {
        var input = $(this).val();
        var correspBtcValue = (input / currentBtcPrice);

        $('#btc-input').val(correspBtcValue.toFixed(6));
      });

      $('#btc-input').on('keyup', function() {
        var input = $(this).val();
        var correspUsdValue = (input * currentBtcPrice);

        $('#usd-input').val(correspUsdValue.toFixed(2));
      });
    });
  </script>

</div>