<h3>Dashboard</h3>

<div class='dashboard-container'>
  <h3>Your Portfolio</h3>

  <table class='dashboard'>
    <% @portfolio.each do |symbol, balance| %>
      <tr>
        <td class='name'>
          <%= CURRENCY_NAMES[symbol] %>
        </td>
        <td>
          <%= balance %> <%= symbol.upcase %>
        </td>
        <td class='counter-value'>
          $<%= (balance * @counter_values[symbol]).round(2) %>
        </td>
      </tr>
    <% end %>
  </table>

</div>


<div class='dashboard-container'>
  <h3>Recent Transactions</h3>

</div>