<nav class='account-menu'>
  <a class='active'>Dashboard</a>
  <a href='/buy/btc'>Buy</a>
  <a href='/sell'>Sell</a>
  <a href='/settings'>Settings</a>
</nav>


<div class='dashboard-container'>
  <h3>Your Portfolio</h3>

  <table class='dashboard'>
    <% @portfolio.each do |symbol, balance| %>
      <tr>
        <td class='name'>
          <%= CURRENCY_NAMES[symbol] %>
        </td>
        <td>
          <%= balance.round(5) %> <%= symbol.upcase %>
        </td>
        <td class='counter-value'>
          <%= format_usd(balance * @counter_values[symbol]) %>
        </td>
      </tr>
    <% end %>
  </table>

</div>


<div class='dashboard-container'>
  <h3>Recent Transactions</h3>

</div>