<div class='landing-head'>
  <h1>BUY AND SELL DIGITAL COINS</h1>

  <p>Coin Exchange is the most popular platform to trade bitcoin and ethereum.</p>
</div>

<nav class='index-links'>
  <a href='signup'><button class='signup'>Sign Up</button></a>
  <a href='charts'><button class='view-charts'>View Charts</button></a>
</nav>