<h3>Coin Exchange</h3>

<div class='landing-head'>
  <h1>BUY AND SELL DIGITAL CURRENCIES</h1>

  <p>Coin Exchange is the world's most popular platform to trade bitcoin and ethereum.</p>
</div>

<a href='/signin'>Sign In</a>
<a href='/signup'>Sign Up</a>
<a href='/charts'>View Charts</a>