<script type='text/javascript'>
  $(function() {
    $('div.content').css('background-image', 'url(/images/noisy_net_2X.png)');
  });
</script>

<div class='landing-head'>
  <h1>BUY AND SELL CRYPTOCURRENCIES</h1>

  <p>Coin Exchange is a platform to easily trade bitcoin and ethereum.</p>
</div>

<nav class='index-links'>
  <a href='signup'><button class='signup'>SIGN UP</button></a>
  <a href='charts'><button class='view-charts'>VIEW CHARTS</button></a>
</nav>
