<!doctype html>
<html lang='en-US'>
  <head>
    <title>Coin Exchange | Buy and Sell Digital Coin</title>
    <link href='/stylesheets/reset.css' rel='stylesheet' type='text/css'></link>
    <link href='/stylesheets/main.css' rel='stylesheet' type='text/css'></link>
    <link href='https://fonts.googleapis.com/css?family=Lato:200,400,900' rel='stylesheet'></link>
    <script src='/javascript/chartkick.js'></script>
    <script src='/javascript/jsapi.js'></script>
    <script src='/javascript/jquery-3.2.1.js'></script>
  </head>
  <body>
    <div class='head'>
      <h3><a href='/'>Coin Exchange</a></h3>
      <% if user_signed_in? %>
        <form class='menu signout' action='/user/signout' method='post'>
          <button type='submit'>Sign Out</button>
        </form>

        <p>Signed in as <%=session[:signin][:username]%></p>
      <% else %>
        <a class='menu' href='/signin'>
          <button type='submit'>Sign In</button>
        </a>
      <% end %>
    </div>

    <div class='content'>
      <div>
        <div class='offline'>
          <% if session[:offline] %>
            <p>REAL-TIME DATA OFFLINE</p>
          <% end %>
        </div>

        <% if session[:success] %>
          <p class='success'><%== session.delete(:success) %></p>
        <% end %>

        <% if session[:failure] %>
          <p class='failure'><%== session.delete(:failure) %></p>
        <% end %>

        <%== yield %>

        <hr />
      </div>
    </div>

    <footer>
      <p>© Ying Chyi Gooi</p>
    </footer>
  </body>
</html>
