<!doctype html>
<html lang="en-US">
  <head>
    <title>Coin Exchange | Buy and Sell Digital Currencies</title>
    <link href="/stylesheets/reset.css" rel="stylesheet" type="text/css"></link>
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css"></link>
    <link href="https://fonts.googleapis.com/css?family=Lato:200,400,900" rel="stylesheet"></link>
    <script src="/javascript/chartkick.js"></script>
    <script src="/javascript/jsapi.js"></script>
  </head>
  <body>
    <h3>Coin Exchange</h3>

    <hr />

    <% if session[:success] %>
      <p class='success'><%== session.delete(:success) %></p>
    <% end %>

    <% if session[:failure] %>
      <p class='failure'><%== session.delete(:failure) %></p>
    <% end %>

    <%== yield %>

    <hr />
    <footer>
      <% if !home_page? %>
        <a href="/">Home</a>
      <% end %>
    </footer>
  </body>
</html>
