<nav class='account-menu'>
  <ul>
    <li><a href='/dashboard'>Dashboard</a></li>
    <li><a href='/charts'>Charts</a></li>
    <li><a href='/buy'>Buy</a></li>
    <li><a href='/sell'>Sell</a></li>
    <li class='active'><a>Settings</a></li>
  </ul>
</nav>

<div>
  <h3>Change Password</h3>
  <hr />

  <h3>Delete Account</h3>
</div>