<nav class='account-menu'>
  <ul>
    <li><a href='/dashboard'>Dashboard</a></li>
    <li><a href='/charts'>Charts</a></li>
    <li><a href='/buy'>Buy</a></li>
    <li><a href='/sell'>Sell</a></li>
    <li class='active'><a>Settings</a></li>
  </ul>
</nav>

<div class='container'>
  <h3>Change Password</h3>

  <form action='/user/update-password' method='post'>
    <input type='password' name='old_password' placeholder='Old Password' value='<%= @old_password %>'>
    <input type='password' name='new_password' placeholder='New Password'>
    <button type='submit'>Change Password</button>
  </form>
</div>

<div class='container danger'>
  <h3>Delete Account</h3>

  <span class='alert'><b>⚠ Warning! You will lose all of your balances.</b></span>

  <form class='delete' style='display: none' action='/user/delete' method='post' >
      <p>Please enter your password to continue.</p>

      <input type='password' name='password' placeholder='Enter password to continue' value='<%= @password %>'>
      <button type='submit'>DELETE ACCOUNT</button>
  </form>
  <br />
  <button id='delete'>DELETE ACCOUNT</button>
</div>

<script type='text/javascript'>
  var message = `
You are about to delete the user '<%=session[:signin][:username]%>'.
You will lose all of your account balances.
Are you sure? This action cannot be undone!
  `;

  $(document).ready(function() {

    $('button#delete').on('click', function() {
      $('form.delete').show();
      $(this).hide();
    });

    $("form.delete").submit(function(event) {
    event.preventDefault();
    event.stopPropagation();

    var ok = confirm(message);
    if (ok) {
      this.submit();
    }
  });

  });
</script>