<div class='signin-signup'>
  <h2>Sign In</h2>

  <form action='/user/signin' method='post'>
    <div>
      <label for='username'>
        <input type='text' name='username' placeholder='Username' value="<%=@username%>" />
      </label>
    </div>

    <div>
      <label for='password'>
        <input type='password' name='password' placeholder='Password' value="<%=@password%>" />
      </label>
    </div>

    <br />
    <button type='submit'>SIGN IN</button>
    <p>Don't have an account? <a href='/signup'>Sign up</a></p>
  </form>
</div>