<h2>Sign Up</h2>

<form class='signup' action='/user/signup' method='post'>
  <div>
    <label for='username'>
      <input type='text' name='username' placeholder='Username' value="<%=@username%>" />
    </label>
  </div>

  <div>
    <label for='password'>
      <input type='text' name='password' placeholder='Password' value="<%=@password%>" />
    </label>
  </div>

</form>