/* ========
  GENERAL 
=========*/

body {
  background-color: #F2F4F4;
  font-family: Lato, sans-serif;
}

h1 {
  font-weight: 900;
}

h4 {
  font-size: 24px;
  font-weight: 300;
}

h3 a {
  color: white;
  text-decoration: none;
}

div.head {
  margin: 0px;
  padding: 5px 15px;
  background-color: #1E4A8B; 
}

ul {
  list-style: none;
}

/* ========
  CHARTS 
=========*/
.coindesk {
  font-size: 10px;
  text-align: center;
}

.chart {
  border: 1px solid #BDBFC0;
  border-radius: 4px;
}

/* ================
  SIGN-IN/SIGN-UP 
=================*/
form.signin-signup div {
  margin: 10px 0px;
}

.signin-signup input {
  width: 280px;
  height: 35px;
  padding: 5px;
  font-size: 1.1em;
}

input.certify {
  width: 1em;
  height: 1em;
  margin-bottom: 20px;
}

.signin-signup button {
  width: 292px;
  height: 45px;
  font-size: 0.9em;
  color: white;
  background-color: #336699;
  border: 0px;
  border-radius: 4px;
}

.signin-signup button:hover {
  background-color: #12487F;
  cursor: pointer;
}

/* ================
  ALERT MESSAGES 
=================*/
.success, .failure {
  width: 50%;
  padding: 1em;
  border-radius: 5px;
}

.success {
  background-color: #C4FFC0;
  color: #348044;
}

.failure {
  background-color: #FFE0C1;
  color: #906252;
}

/* ==============
    DASHBOARD
=============== */

.dashboard-container {
  display: inline-block;
  margin: 10px 6px;
  width: 46%;
  min-width: 550px;
  height: 300px;
  border: 1px solid #BDBFC0;
  border-radius: 4px;
  background-color: white;
}

.dashboard-container h3 {
  width: 100%;
  padding-left: 30px;
  text-decoration: underline;
}

table.dashboard {
  border-collapse: collapse;
  display: block;
  margin: 30px;
  margin-top: 0px;
  font-size: 19px;
}

.dashboard td {
  padding: 1em;
  padding-left: 3em;
  text-align: right;
}

.dashboard tr {
  border-bottom: 1px solid #CFCFCF;
}

td.name {
  font-weight: 400;
  padding-left: 0px;
  text-align: left;
}

td.counter-value {
  font-weight: 300;
  color: #9B9B9B;
}


