body {
  background-color: #F2F4F4;
}

.coindesk {
  font-size: 10px;
  text-align: center;
}

form.signup div {
  margin: 10px 0px;
}

.signup input {
  width: 280px;
  height: 35px;
  padding: 5px;
  font-size: 1.1em;
}

input.certify {
  width: 1em;
  height: 1em;
  margin-bottom: 20px;
}

.success, .failure {
  width: 50%;
  padding: 1em;
  border-radius: 5px;
}

.success {
  background-color: #C4FFC0;
  color: #348044;
}

.failure {
  background-color: #FFE0C1;
  color: #906252;
}

button {
  width: 290px;
  height: 45px;
  font-size: 0.9em;
  color: white;
  background-color: #336699;
}