/* ========
  GENERAL 
=========*/

body {
  background-color: #F2F4F4;
}

h1 {
  font-weight: 900;
}

h4 {
  font-size: 24px;
  font-weight: 300;
}

h3 a {
  color: white;
  text-decoration: none;
}

div.head {
  margin: 0px;
  padding: 5px 15px;
  background-color: #1E4A8B; 
}

.head h3 {
  display: inline-block;
}

ul {
  list-style: none;
}

body, button, input {
  font-family: Lato, sans-serif;
}

button:hover {
  cursor: pointer;
}

/* ========
  CHARTS 
=========*/
.coindesk {
  font-size: 10px;
  text-align: center;
}

.chart {
  border: 1px solid #BDBFC0;
  border-radius: 4px;
}

/* ================
  SIGN-IN/SIGN-UP 
=================*/
form.signin-signup div {
  margin: 10px 0px;
}

.signin-signup input {
  width: 280px;
  height: 35px;
  padding: 5px;
  font-size: 1.1em;
}

input.certify {
  width: 1em;
  height: 1em;
  margin-bottom: 20px;
}

.signin-signup button {
  width: 292px;
  height: 45px;
  font-size: 0.9em;
  color: white;
  background-color: #336699;
  border: 0px;
  border-radius: 4px;
}

.signin-signup button:hover {
  background-color: #12487F;
}

/* ================
  ALERT MESSAGES 
=================*/
.success, .failure {
  width: 65%;
  padding: 1em;
  border-radius: 5px;
}

.success {
  background-color: #C4FFC0;
  color: #348044;
}

.failure {
  background-color: #F8D0CD;
  color: #60130D;
}

/* ==============
    DASHBOARD
=============== */

.dashboard-container {
  display: inline-block;
  margin: 10px 6px;
  width: 46%;
  min-width: 550px;
  height: 300px;
  border: 1px solid #BDBFC0;
  border-radius: 4px;
  background-color: white;
}

.dashboard-container h3 {
  width: 100%;
  padding-left: 30px;
}

table.dashboard {
  border-collapse: collapse;
  display: block;
  margin: 30px;
  margin-top: 0px;
  font-size: 19px;
}

.dashboard td {
  padding: 1em;
  padding-left: 3em;
  text-align: right;
}

.dashboard tr {
  border-bottom: 1px solid #CFCFCF;
}

td.name {
  font-weight: 400;
  padding-left: 0px;
  text-align: left;
}

td.counter-value {
  font-weight: 300;
  color: #9B9B9B;
}

/* =========
    MENU
============ */

.menu {
  line-height: 59px;
  padding-right: 20px;
  display: inline-block;
  float: right;
}

.menu button {
  text-decoration: underline;
  text-decoration-color: #576EA7;
  font-weight: 500;
  color: white;
  background-color: Transparent;
  border: none;
}

/* ==============
    NAVIGATION
=============== */

nav.index-links {
  margin: 10px 0px;
}

.index-links form {
  display: inline-block;
}

.index-links button {
  width: 120px;
  padding: 1em;
  margin: 5px;
  border: 2px solid #5D73D2;
  border-radius: 5px;
  font-size: 14px;
}

button.signup {
  color: white;
  background-color: #5D73D2;
}

button.signup:hover, button.view-charts:hover {
  color: white;
  border: 2px solid #7E90DE;
  background-color: #7E90DE;
}

button.view-charts {
  background-color: transparent;
  color: #5D73D2;
}

nav.account-menu {
  margin-top: 20px;
  padding: 10px 0px;
}

nav.account-menu a {
  color: #B8BAC1;
  padding: 10px 0px;
  margin: 10px;
  text-decoration: none;
}

nav.account-menu a:hover {
  color: #7A89BA;
}

nav.account-menu a.active {
  color: #475583;
  border-bottom: 3px solid #475583;
}

/* ================
      BUY/SELL
================= */

.buy h4, .sell h4 {
  font-size: 20px;
  margin-bottom: 0px;
}

.buy hr, .sell hr {
  height: 1px;
  border: 0;
  border-top: 1.5px solid #D2D2D2;
}

.buy-coin button,
.sell-coin button 
{
  width: 150px;
  height: 80px;
  margin: 5px;
  background-color: transparent;
  border: 1.5px solid #B8BAC1;
  border-radius: 3px;
  font-size: 18px;
}

.buy-coin button:hover,
.sell-coin button:hover {
  background-color: #F3F5F9;
  border-color: #B4C5FF;
  border-width: 2px;
}

.buy-coin button.active,
.sell-coin button.active
{
  background-color: #FAFAFA;
  border-width: 2px;
  cursor: default;
}

.buy-coin button.active {
  border-color: #5E84FF;
}

.sell-coin button.active {
  background-color: #FEFBF5;
  border-color: #FF9761;
}

p#counter-value {
  margin: 0px;
  color: #ABABAB;
}

.buy-inputs div {
  display: inline-block;
  width: 180px;
  height: 50px;
  margin: 5px;
  padding: 0px 15px 4px 15px;
  background-color: #F9F9F9;
  border: 1.5px solid #B8BAC1;
  border-radius: 3px;
}

.buy-inputs input {
  width: 75%;
  height: 100%;
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: 300;
}

.buy-inputs input:focus {
  outline: none;
}

.buy-inputs label {
  color: #B8BAC1;
  font-size: 20px;
}

.buy p, .sell p {
  margin-left: 10px;
}

.buy a, .sell a {
  text-decoration: none;
}

#arrow {
  margin: 0px;
  display: inline;
  color: #B8BAC1;
  font-size: 24px;
}

div.red-border {
  border-color: #FF6E78;
}

.hide {
  display: none;
}

.alert-limit {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  color: #FF6E78;
}

div.alert {
  padding: 0px;
  display: block;
  border: none;
  background: transparent;
  height: 20px;
}

button.submit-buy,
button.submit-sell
{
  font-size: 18px;
  color: white;
  margin: 5px;
  width: 460px;
  height: 50px;
  background-color: #3C84D3;
  border: 1px solid #316FB4;
  border-radius: 2px;
}

button.submit-sell {
  border-color: #A53D04;
  background-color: #F26B0C;
}

button.submit-buy:hover {
  background-color: #316FB4;
}

button.submit-sell:hover {
  background-color: #CC5400;
}

